<nav class="side-menu">
  <div class="side-header">
    <span class="sc-logo">
      <span class="font-code-light">Super</span> <span class="font-code">Conductor</span>
    </span>
  </div>
  <div class="list-group top">
    <a class="list-group-item" ng-repeat="link in links" ng-class="{'active':link.isActive}" ng-href="#{{link.url}}" draggable="false">
      <span class="glyphicon" ng-class="link.icon"></span>{{link.name}}
    </a>
  </div>
  <div class="list-group bottom">
    <!--<button class="list-group-item" ng-click="minimizeToTray = !minimizeToTray">
      <span class="glyphicon" ng-class="{'glyphicon-check' :minimizeToTray, 'glyphicon-unchecked':!minimizeToTray}" aria-hidden="true"></span> Minimize to Tray
    </button>-->
    <button class="list-group-item" type="button" ng-click="exit()" draggable="false"><span class="glyphicon glyphicon-off"></span> Shut Down</button>
  </div>
</nav>